<a href="{{ path('lyra_admin_page_edit', { 'id' : object.itemId }) }}" class="button action-edit {{ action.buttonIcon ? ' ui-icon-'~action.buttonIcon : '' }}{{ action.hasDialog ? ' dialog' : ''}}{{ action.buttonStyle is defined ? ' '~action.buttonStyle  : '' }}">{{ 'list.edit'|trans({}, 'LyraContentBundle') }}</a>
