<a href="{{ path('lyra_admin_page_edit', { 'id' : object.itemId }) }}" class="button action-edit {{ attrs.icon ? ' ui-icon-'~attrs.icon : '' }}{{ attrs.dialog is defined ? ' dialog' : ''}}{{ attrs.style is defined ? ' '~attrs.style  : '' }}">{{ 'list.edit'|trans({}, 'LyraContentBundle') }}</a>
