{% if not object.root %}
<a class="button icon-only ui-icon-arrowthick-2-ne-sw action-move dialog" href="{{ path('lyra_admin_node_move', {'id' : object.id}) }}">{{ 'list.move'|trans({}, 'LyraContentBundle') }}</a>
<input class="button ui-icon-arrowthick-1-n icon-only{% if object.firstChild %} disabled{% endif %}" type="submit" name="action[moveup][{{ object.id }}]" value="{{ 'list.up'|trans({}, 'LyraContentBundle') }}" />
<input class="button ui-icon-arrowthick-1-s icon-only{% if object.lastChild %} disabled{% endif %}" type="submit" name="action[movedown][{{ object.id }}]" value="{{ 'list.down'|trans({}, 'LyraContentBundle') }}" />
{% endif %}
